{% liquid
  assign no_gutter = section.settings.no_gutter
  assign shadow = section.settings.shadow
  assign column = ''
  case section.settings.column_count
    when '1'
      assign column = 'col-12'
    when '2'
      assign column = 'col-12 col-md-6'
    when '3'
      assign column = 'col-12 col-md-4'
  endcase
%}
<section class="w-100 {% if no_gutter %}container-fluid px-0{% else %}container{% endif %} {% if shadow %}shadow{% endif %}">
  <div class="row">
    {% if section.blocks == empty %}
      {% case section.settings.column_count %}
        {% when '1' %}
          <div
            style="height: 30vh;"
            class="{{ column }} {% if no_gutter %}mx-0 px-0{% endif %} d-flex flex-column justify-content-center align-items-center"
          >
            <h3>Container Placeholder</h3>
            <p>Please add blocks to add your content</p>
          </div>
        {% when '2' %}
          <div class="{{ column }} {% if no_gutter %}mx-0 px-0{% endif %}">
            {{ 'lifestyle-2' | placeholder_svg_tag: 'w-100 h-100' }}
          </div>
          <div
            style="height: 30vh;"
            class="{{ column }} {% if no_gutter %}mx-0 px-0{% endif %} d-flex flex-column justify-content-center align-items-center"
          >
            <h3>Container Placeholder</h3>
            <p>Please add blocks to add your content</p>
          </div>
        {% when '3' %}
          <div class="{{ column }} {% if no_gutter %}mx-0 px-0{% endif %}">
            {{ 'lifestyle-2' | placeholder_svg_tag: 'w-100  h-100' }}
          </div>
          <div
            style="height: 30vh;"
            class="{{ column }} {% if no_gutter %}mx-0 px-0{% endif %} d-flex flex-column justify-content-center align-items-center"
          >
            <h3>Container Placeholder</h3>
            <p>Please add blocks to add your content</p>
          </div>
          <div class="{{ column }} {% if no_gutter %}mx-0 px-0{% endif %}">
            {{ 'lifestyle-2' | placeholder_svg_tag: 'w-100  h-100' }}
          </div>
      {% endcase %}
    {% else %}
      {% for block in section.blocks %}
        <div class="{{ column }} {% if no_gutter %}mx-0 px-0{% endif %} {% if block.settings.shadow %}shadow{% endif %}">
          {%- case block.type -%}
            {%- when '@app' -%}
              {% render block %}
            {%- when 'content_block' -%}
              {% liquid
                assign content_alignment = ''
                case block.settings.content_align
                  when 'left'
                    assign content_alignment = 'text-start'
                  when 'center'
                    assign content_alignment = 'text-center'
                  when 'right'
                    assign content_alignment = 'text-end'
                endcase
              %}
              <div class="p-3 {{ content_alignment }}">
                {{ block.settings.content }}
              </div>
            {%- when 'image_block' -%}
              {% if block.settings.image %}
                {{
                  block.settings.image
                  | image_url: width: 1800
                  | image_tag: class: 'd-block img-fluid object-fit-cover'
                }}
              {% else %}
                {{ 'lifestyle-2' | placeholder_svg_tag: 'w-100  h-100' }}
              {% endif %}
          {%- endcase -%}
        </div>
      {% endfor %}
    {% endif %}
  </div>
</section>

{% schema %}
{
  "name": "Container",
  "max_blocks": 3,
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "content_block",
      "name": "Text Content",
      "settings": [
        {
          "type": "richtext",
          "id": "content",
          "label": "Content",
          "default": "<p>Write your content here</p>"
        },
        {
          "type": "radio",
          "id": "content_align",
          "label": "Content alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "right",
              "label": "Right"
            },
            {
              "value": "centered",
              "label": "Centered"
            }
          ],
          "default": "left"
        },
        {
          "type": "checkbox",
          "id": "shadow",
          "label": "Has shadow?",
          "default": false
        }
      ]
    },
    {
      "type": "image_block",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "label": "Image",
          "id": "image"
        },
        {
          "type": "checkbox",
          "id": "shadow",
          "label": "Has shadow?",
          "default": false
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "checkbox",
      "id": "no_gutter",
      "label": "No Gutter?",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "shadow",
      "label": "Has shadow?",
      "default": false
    },
    {
      "type": "radio",
      "id": "column_count",
      "label": "How many columns per row?",
      "options": [
        {
          "value": "1",
          "label": "1 column"
        },
        {
          "value": "2",
          "label": "2 columns"
        },
        {
          "value": "3",
          "label": "3 columns"
        }
      ],
      "default": "1"
    }
  ],
  "presets": [
    {
      "name": "Container",
      "category": "Miscellaneous"
    }
  ]
}
{% endschema %}
