{% liquid
  assign total_card_per_page = section.settings.total_card_per_page
  assign products = section.settings.feature_products
  assign count = 0
  for product in products
    assign count = count | plus: 1.0
  endfor

  assign total_page = count | divided_by: total_card_per_page | ceil
  assign column = ''

  case total_card_per_page
    when 2
      assign column = 'col-12 col-lg-6'
    when 3
      assign column = 'col-12 col-lg-4'
    when 4
      assign column = 'col-12 col-lg-3'
  endcase
%}
<section class="my-2 {% if section.settings.has_gutter %}container{% else %}container-fluid{% endif %}">
  <h2 class="">{{ section.settings.title }}</h2>
  {% if count > 1 %}
    <div id="feature-product-carousel" class="carousel slide">
      {% if total_page > 1 %}
        <div class="carousel-indicators">
          {% for page in total_page %}
            <button
              type="button"
              data-bs-target="#feature-product-carousel"
              data-bs-slide-to="{{ forloop.index | minus: 1 }}"
              aria-label="Slide {{ forloop.index | minus: 1 }}"
              {% if forloop.index == 1 %}
                class="active"
                aria-current="true"
              {% endif %}
            ></button>
          {% endfor %}
        </div>
      {% endif %}
      <div class="carousel-inner">
        {% assign current_index = 1 %}
        {% for product in products %}
          {% if current_index == 1 %}
            <div class="carousel-item row {% if forloop.index == 1 %}active{% endif %}">
          {% endif %}
          <div class="card p-0 {{ column }}">
            {% if section.settings.show_slideshow %}
              <div id="feature-product-{{ forloop.index }}" class="carousel slide card-img-top" data-bs-ride="carousel">
                <div class="carousel-indicators">
                  {% for image in product.images %}
                    <button
                      type="button"
                      data-bs-target="#feature-product-{{ forloop.index }}"
                      data-bs-slide-to="{{ forloop.index | minus: 1 }}"
                      aria-label="Slide {{ forloop.index | minus: 1 }}"
                      {% if forloop.index == 1 %}
                        class="active"
                        aria-current="true"
                      {% endif %}
                    ></button>
                  {% endfor %}
                </div>
                <div class="carousel-inner ">
                  {% for image in product.images %}
                    <div
                      class="carousel-item {% if forloop.index == 1 %}active{% endif %}"
                    >
                      {{ image | image_url: width: 400 | image_tag: class: 'd-block w-100' }}
                    </div>
                  {% endfor %}
                </div>
              </div>
            {% else %}
              {{ product.featured_image | image_url: width: 400 | image_tag: class: 'card-img-top' }}
            {% endif %}
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <div class="d-flex column-gap-1 align-items-lg-center">
                <i class="bi bi-star-fill text-warning"></i>
                <p class="mb-0">4.9</p>
              </div>
            </div>
          </div>
          {% if current_index == 1 %}
            </div>
          {% endif %}
          {% if current_index == total_card_per_page %}
            {% assign current_index = 1 %}
          {% endif %}
        {% endfor %}
      </div>
      {% if total_page > 1 %}
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#feature-product-carousel"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#feature-product-carousel"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      {% endif %}
    </div>
  {% else %}
    {% assign product = products | first %}
    <div class="row m-0 justify-content-center">
      <div class="card col-12 col-md-6 col-lg-4 p-0">
        {% if section.settings.show_slideshow %}
          <div id="feature-product-{{ forloop.index }}" class="carousel slide card-img-top" data-bs-ride="carousel">
            <div class="carousel-indicators">
              {% for image in product.images %}
                <button
                  type="button"
                  data-bs-target="#feature-product-{{ forloop.index }}"
                  data-bs-slide-to="{{ forloop.index | minus: 1 }}"
                  aria-label="Slide {{ forloop.index | minus: 1 }}"
                  {% if forloop.index == 1 %}
                    class="active"
                    aria-current="true"
                  {% endif %}
                ></button>
              {% endfor %}
            </div>
            <div class="carousel-inner ">
              {% for image in product.images %}
                <div
                  class="carousel-item {% if forloop.index == 1 %}active{% endif %}"
                >
                  {{ image | image_url: width: 400 | image_tag: class: 'd-block w-100' }}
                </div>
              {% endfor %}
            </div>
          </div>
        {% else %}
          {{ product.featured_image | image_url: width: 400 | image_tag: class: 'card-img-top' }}
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <div class="d-flex column-gap-1 align-items-lg-center">
            <i class="bi bi-star-fill text-warning"></i>
            <p class="mb-0">4.9</p>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
</section>

{% schema %}
{
  "name": "Feature Products",
  "settings": [
    {
      "type": "text",
      "label": "Title",
      "id": "title",
      "default": "Feature Products"
    },
    {
      "type": "range",
      "id": "total_card_per_page",
      "min": 1,
      "max": 4,
      "step": 1,
      "label": "Total product per carousel page",
      "default": 3
    },
    {
      "type": "product_list",
      "id": "feature_products",
      "label": "Feature Products",
      "limit": 6
    },
    {
      "type": "checkbox",
      "label": "Has gutter?",
      "id": "has_gutter",
      "default": true
    },
    {
      "type": "checkbox",
      "label": "Show slideshow?",
      "id": "show_slideshow",
      "default": true
    }
  ]
}
{% endschema %}
