{% liquid
  assign count = 0

  for block in section.blocks
    if block.type != '@app'
      assign count = count | plus: 1
    endif
  endfor
%}
{% capture medium_column %}
  {%- if count == 3 -%}
      col-lg-4
  {%- elsif count == 2 -%}
      col-lg-6
  {%- endif -%}
{% endcapture %}

<section class="footer bg-body-tertiary" id="section-footer">
  <div class="container">
    <div class="py-3 my-4">
      <ul class="row nav row-gap-3 justify-content-center border-bottom pb-3 mb-3">
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when '@app' -%}
              {% render block %}
            {%- when 'brand_info' -%}
              <li class="nav-item col-12 {{ medium_column }}">
                {% if settings.logo != blank %}
                  {{ settings.logo | image_url: width: 600 | image_tag: class: 'w-100', alt: logo_alt, preload: true }}
                {% else %}
                  <h2>
                    {{ shop.name }}
                  </h2>
                {% endif %}
              </li>
            {%- when 'footer_menu' -%}
              <li class="nav-item col-12  {{ medium_column }} ">
                <hr class="d-block d-lg-none">
                <h3 class="text-lg-center">{{ block.settings.title }}</h3>
                <ul class="nav flex-column align-items-lg-center row-gap-1">
                  {%- for link in block.settings.menu.links -%}
                    <li class="nav-item">
                      <a class="link link-secondary link-underline-opacity-0" href="{{ link.url }}">{{ link.title }}</a>
                    </li>
                  {%- endfor -%}
                </ul>
              </li>
            {%- when 'form' -%}
              <li class="nav-item col-12 {{ medium_column }} ">
                <hr class="d-block d-lg-none">
                {%- case block.settings.form_type -%}
                  {%- when 'contact_form' -%}
                    {% render 'footer-contactform' %}
                  {%- when 'newsletter_form' -%}
                    {% render 'footer-newsletter' %}
                {%- endcase -%}
              </li>
          {%- endcase -%}
          {% assign counter = counter | plus: 1 %}
        {%- endfor -%}
      </ul>
      <div class="d-flex justify-content-between w-100">
        <p>&copy; {{ 'now' | date: '%Y' }}, {{ shop.name | link_to: '/' }}</p>
        <ul class="nav col-lg-4 justify-content-end list-unstyled d-flex">
          <li class="ms-3">
            <a class="text-body-secondary" href="#">
              <i class="bi bi-twitter"></i>
            </a>
          </li>
          <li class="ms-3">
            <a class="text-body-secondary" href="#">
              <i class="bi bi-facebook"></i>
            </a>
          </li>
          <li class="ms-3">
            <a class="text-body-secondary" href="#">
              <i class="bi bi-instagram"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Footer",
  "tag": "footer",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "footer_menu",
      "name": "footer.link_list.name",
      "limit": 1,
      "settings": [
        {
          "type": "link_list",
          "label": "Footer Menu",
          "id": "menu",
          "default": "footer"
        },
        {
          "type": "text",
          "label": "Footer Menu Title",
          "id": "title",
          "default": "Menu"
        }
      ]
    },
    {
      "type": "brand_info",
      "name": "footer.brand_info.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "label": "Show Branding?",
          "id": "show_branding",
          "default": true
        }
      ]
    },
    {
      "type": "form",
      "name": "footer.form.name",
      "settings": [
        {
          "type": "radio",
          "id": "form_type",
          "label": "Form Type",
          "options": [
            {
              "value": "contact_form",
              "label": "Contact Form"
            },
            {
              "value": "newsletter_form",
              "label": "Newsletter Form"
            }
          ],
          "default": "newsletter_form"
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "brand_info"
      },
      {
        "type": "footer_menu"
      },
      {
        "type": "form"
      }
    ]
  }
}
{% endschema %}
