{% liquid
  assign header_menu = section.settings.header_menu
  assign is_center = section.settings.is_menu_center
  assign has_dark_mode = settings.has_dark_mode
  assign show_annoucement = section.settings.show_annoucement
  assign annoucement_background_color = section.settings.annoucement_background_color
  assign annoucement_content = section.settings.annoucement_content
  assign annoucement_text_color = section.settings.annoucement_text_color
  assign can_close_annoucement = section.settings.can_close_annoucement
  assign annoucement_bold_content = section.settings.annoucement_bold_content
  assign annoucement_italic_content = section.settings.annoucement_italic_content
  assign annoucement_content_position = section.settings.annoucement_content_position
%}

{% style %}
  .annoucement__text{
    color: {{ annoucement_text_color }};
    {% if annoucement_bold_content %}
    font-weight: bold;
    {% endif %}
    {% if annoucement_italic_content %}
    font-style: italic;
    {% endif %}
  }

  .annoucement__background{
    background-color: {{ annoucement_background_color }};
  }
{% endstyle %}

<div id="section-header" class="fixed-top">
  {% if show_annoucement %}
    <div
      v-if="!closeAnnoucement"
      class="d-flex justify-content-between align-items-center annoucement__background p-2 shadow"
    >
      {% if annoucement_content_position == 'centered' %}
        <span></span>
      {% endif %}
      <p class="annoucement__text mb-0">{{ annoucement_content }}</p>
      {% if can_close_annoucement %}
        <button
          @click="closeAnnoucement = true"
          type="button"
          class="btn-close annoucement__text"
          aria-label="Close"
        ></button>
      {% endif %}
    </div>
  {% endif %}
  <nav
    class="navbar  navbar-expand-lg bg-body-tertiary shadow"
  >
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        {% if settings.logo != blank %}
          {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
          {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
          {% capture sizes %}(max-width: {{ settings.logo_width | times: 2 }}px) 50vw, {{ settings.logo_width }}px{% endcapture %}
          {% capture widths %}{{ settings.logo_width }}, {{ settings.logo_width | times: 1.5 | round }}, {{ settings.logo_width | times: 2 }}{% endcapture %}
          {{
            settings.logo
            | image_url: width: 600
            | image_tag:
              widths: widths,
              height: logo_height,
              width: settings.logo_width,
              alt: logo_alt,
              sizes: sizes,
              preload: true
          }}
        {% else %}
          {{ shop.name }}
        {% endif %}
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#header-menu"
        aria-controls="header-menu"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse {% if is_center %}justify-content-center{% endif %}" id="header-menu">
        <ul class="navbar-nav">
          <li class="nav-link d-lg-none">
            <h6 class="dropdown-header">Menu</h6>
          </li>
          {%- for link in header_menu.links -%}
            <li class="nav-item">
              <a class="nav-link {% if link.current %}active{% endif %}" aria-current="page" href="{{ link.url }}">
                {{ link.title }}
              </a>
            </li>
          {%- endfor -%}
        </ul>
        <ul class="navbar-nav d-lg-none">
          <li class="nav-link"><hr class="dropdown-divider"></li>
          <li class="nav-link">
            <h6 class="dropdown-header">Utilities</h6>
          </li>
          {%- if has_dark_mode -%}
            <li class="nav-item">
              <button @click="handleDarkMode" class="nav-link align-items-center d-flex column-gap-3">
                <i
                  class="bi"
                  :class="{'bi-moon-fill': isDarkMode, 'bi-sun-fill': !isDarkMode}"
                ></i>
                <p class="mb-0">[[isDarkMode ? 'Dark' : 'Light']] mode</p>
              </button>
            </li>
          {%- endif -%}
          <li class="nav-item">
            <button
              class="nav-link  align-items-center d-flex column-gap-3"
              data-bs-toggle="offcanvas"
              data-bs-target="#mini-cart"
            >
              <i class="bi bi-bag-fill"></i>
              <p class="mb-0">Cart</p>
            </button>
          </li>

          {%- if customer -%}
            <li class="nav-link"><hr class="dropdown-divider"></li>
            <li class="nav-link">
              <h6 class="dropdown-header">Customer</h6>
            </li>
            <li class="nav-link">
              <h6 class="dropdown-header">Welcome {{ customer.name }}</h6>
            </li>
            <li class="nav-link"><a class="dropdown-item" href="{{ shop.url }}/account">My Orders</a></li>
            <li class="nav-link"><hr class="dropdown-divider"></li>
            <li class="nav-link">
              <a href="{{ shop.url }}/account/logout" class="dropdown-item">Logout</a>
            </li>
          {%- else -%}
            {% unless canonical_url contains '{{ shop.url }}/account/login' or canonical_url contains 'account/register' %}
              <li class="nav-link"><hr class="dropdown-divider"></li>
              <li class="nav-link">
                <h6 class="dropdown-header">Customer</h6>
              </li>
              <li class="nav-item">
                <a href="{{ shop.url }}/account/login" class="nav-link"> Login </a>
              </li>
              <li class="nav-item">
                <a href="{{ shop.url }}/account/register" class="nav-link"> Register </a>
              </li>
            {% endunless %}
          {%- endif -%}
        </ul>
      </div>
      <ul class="navbar-nav d-none d-lg-flex">
        {%- if has_dark_mode -%}
          <li class="nav-item">
            <button @click="handleDarkMode" class="nav-link">
              <i
                class="bi"
                :class="{'bi-moon-fill': isDarkMode, 'bi-sun-fill': !isDarkMode}"
              ></i>
            </button>
          </li>
        {%- endif -%}
        <li class="nav-item">
          <button class="nav-link" data-bs-toggle="offcanvas" data-bs-target="#mini-cart">
            <i class="bi bi-bag-fill"></i>
          </button>
        </li>

        {%- if customer -%}
          <li class="nav-item dropdown">
            <button
              type="button"
              class="nav-link dropdown"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="bi bi-person-fill"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-lg-end">
              <li>
                <h6 class="dropdown-header">Welcome {{ customer.name }}</h6>
              </li>
              <li><a class="dropdown-item" href="{{ shop.url }}/account">My Orders</a></li>
              <li><hr class="dropdown-divider"></li>
              <li>
                <a href="{{ shop.url }}/account/logout" class="dropdown-item">Logout</a>
              </li>
            </ul>
          </li>
        {%- else -%}
          {% unless canonical_url contains '{{ shop.url }}/account/login' or canonical_url contains 'account/register' %}
            <li class="nav-item">
              <a href="{{ shop.url }}/account/login" class="btn"> Login </a>
            </li>
            <li class="nav-item">
              <a href="{{ shop.url }}/account/register" class="btn btn-primary"> Register </a>
            </li>
          {% endunless %}
        {%- endif -%}
      </ul>
    </div>
  </nav>
  <div
    class="offcanvas offcanvas-end"
    data-bs-backdrop="static"
    tabindex="-1"
    id="mini-cart"
    aria-labelledby="mini-cart"
  >
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasRightLabel">Your Cart</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div v-if="isFetching" class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <div class="h-100" v-else>
        <form
          v-if="!isItemsEmpty"
          action="{{ routes.cart_url }}"
          id="mini-cart-form"
          class="h-100 w-100 d-flex flex-column justify-content-between"
          method="post"
        >
          <div class="row d-flex flex-column row-gap-5">
            <div class="col-12 d-flex column-gap-2" v-for="(item, index) in cart.items" :key="`cart-item-${item.id}`">
              <img
                class="img-fluid w-25"
                :src="item.featured_image.url"
                :alt="item.featured_image.alt"
                loading="lazy"
              >
              <div class="w-75 d-flex flex-column row-gap-1">
                <p class="text-truncate mb-0">[[item.product_title]]</p>
                <p class="mb-0 opacity-50">SKU: [[item.sku]]</p>
                <p class="fs-4 mb-0">{{ cart.currency.symbol }}[[(item.final_price/100).toFixed(2)]]</p>
                <div class="d-flex justify-content-between mt-3">
                  <div class="input-group w-50">
                    <button
                      class="btn btn-outline-secondary w-25"
                      type="button"
                      @click="(e) => updateCartItem(e, ++index, --item.quantity)"
                    >
                      -
                    </button>
                    <input
                      type="number"
                      min="1"
                      :value="item.quantity"
                      class="form-control text-center w-50"
                      aria-label="Cart item quantity"
                      @change="(e) => updateCartItem(e, ++index, e.target.value)"
                    >
                    <button
                      class="btn btn-outline-secondary w-25"
                      type="button"
                      @click="(e) => updateCartItem(e, ++index, ++item.quantity)"
                    >
                      +
                    </button>
                  </div>
                  <button type="button" class="btn btn-outline-danger" @click="(e) => removeCartItem(e, ++index)">
                    <i class="bi bi-trash"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="bottom-0">
            <hr>
            <div class="d-flex justify-content-between">
              <h5>Subtotal</h5>
              <h5>
                {{ cart.currency.symbol }}
                [[(cart.items_subtotal_price / 100).toFixed(2) ]]
              </h5>
            </div>
            <hr>
            <input class="btn btn-primary w-100" type="submit" name="checkout" value="Checkout">
          </div>
        </form>
        <p v-else>Your cart is empty</p>
      </div>
    </div>
  </div>
</div>

<script type="module" defer src="{{ 'header.js' | asset_url }}"></script>

{% schema %}
{
  "name": "Header",
  "tag": "header",
  "settings": [
    {
      "type": "header",
      "content": "Header Settings"
    },
    {
      "type": "link_list",
      "label": "Header Menu",
      "id": "header_menu",
      "default": "main-menu"
    },
    {
      "type": "checkbox",
      "label": "Is menu centered?",
      "default": false,
      "id": "is_menu_center"
    },
    {
      "type": "header",
      "content": "Annoucement bar"
    },
    {
      "type": "checkbox",
      "label": "Show annoucement bar?",
      "id": "show_annoucement",
      "default": true
    },
    {
      "type": "checkbox",
      "label": "Can be closed?",
      "id": "can_close_annoucement",
      "default": true
    },
    {
      "type": "color",
      "label": "Background Color",
      "id": "annoucement_background_color"
    },
    {
      "type": "color",
      "label": "Text Color",
      "id": "annoucement_text_color"
    },
    {
      "type": "text",
      "label": "Content",
      "id": "annoucement_content",
      "default": "Annoucement Bar"
    },
    {
      "type": "checkbox",
      "label": "Bold content?",
      "id": "annoucement_bold_content",
      "default": false
    },
    {
      "type": "checkbox",
      "label": "Italic content?",
      "id": "annoucement_italic_content",
      "default": false
    },
    {
      "type": "radio",
      "id": "annoucement_content_position",
      "label": "Content position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "centered",
          "label": "Centered"
        }
      ],
      "default": "left"
    }
  ]
}
{% endschema %}
