{% style %}
  .product-detail--sticky-position {
    top: 72px;
  }

  .product-detail__container--max-width {
    max-width: 350px;
  }

  .product-detail--width {
    width: 100%;
  }

  .product-detail--display {
    display: flex;
  }

  @media only screen and (min-width: 992px) {
    .product-detail--width {
      width: 50%;
    }
  }

  @media only screen and (min-width: 1200px) {
    .product--detail--display {
      display: block;
    }
  }
{% endstyle %}

<section class="container-md mt-4">
  <div class="row mb-3 m-0">
    <div class="col col-lg-8 ps-0 d-flex flex-column row-gap-3">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-0">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{ product.title }}</li>
        </ol>
      </nav>
      <div id="product-detail-images-carousel" class="carousel slide shadow rounded">
        <div class="carousel-indicators rounded-bottom mb-5">
          {% assign count = 0 %}
          {% for image in product.images %}
            <button
              type="button"
              data-bs-target="#product-detail-images-carousel"
              data-bs-slide-to="{{ count }}"
              aria-label="Slide {{ count }}"
              {% if count == 0 %}
                class="active"
              {% endif %}
              {% if count == 0 %}
                aria-current="true"
              {% endif %}
            >
              {{ image | image_url: width: 80, height: 50 | image_tag: class: 'd-block w-100' }}
            </button>
            {% assign count = count | plus: 1 %}
          {% endfor %}
        </div>
        <div class="carousel-inner rounded">
          {% assign count = 1 %}
          {% for image in product.images %}
            <div class="carousel-item {% if count == 1 %}active{% endif %}">
              {{ image | image_url: width: 800 | image_tag: class: 'd-block w-100' }}
            </div>
            {% assign count = count | plus: 1 %}
          {% endfor %}
        </div>
        <button
          class="carousel-control-prev rounded-start"
          type="button"
          data-bs-target="#product-detail-images-carousel"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon rounded-start" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next rounded-end"
          type="button"
          data-bs-target="#product-detail-images-carousel"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon rounded-end" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <div
        class="d-flex d-lg-none justify-content-between align-items-center "
        id="product-detail-sidebar"
      ></div>
      <div class="accordion" id="product-accordion">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#product-description-content"
              aria-expanded="true"
              aria-controls="product-description-content"
            >
              <h4>Description</h4>
            </button>
          </h2>
          <div
            id="product-description-content"
            class="accordion-collapse collapse show"
            data-bs-parent="#product-accordion"
          >
            <div class="accordion-body">
              {{ product.description }}
            </div>
          </div>
        </div>
        {% comment %}
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#product-review-content"
                aria-expanded="true"
                aria-controls="product-review-content"
              >
                <h4>Reviews</h4>
              </button>
            </h2>
            <div
              id="product-review-content"
              class="accordion-collapse collapse show"
              data-bs-parent="#product-accordion"
            >
              <div class="accordion-body">
                <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse
                plugin adds the appropriate classes that we use to style each element. These classes control the overall
                appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom
                CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
                <code>.accordion-body</code>, though the transition does limit overflow.
              </div>
            </div>
          </div>
        {% endcomment %}
      </div>
    </div>
    <div class="d-none d-lg-block col col-md-4 pe-0" id="product-detail">
      <div class="product-detail--sticky-position sticky-top">
        <teleport :disabled="isDesktop" to="#product-detail-sidebar">
          <div class="p-3 w-100  bg-body-tertiary rounded shadow ">
            <div class="d-flex flex-column row-gap-3 justify-content-center p-3 w-100 ">
              <div class="d-flex flex-column row-gap-2">
                <div class="d-flex flex-column row-gap-2">
                  <h1 class="fs-3 mb-0 fw-light">{{ product.title }}</h1>
                </div>
                <div class="d-flex flex-column justify-content-center row-gap-2 mt-1 ">
                  <h5 class="fs-4 mb-0 fw-bold pe-2 pb-lg-1 pb-xl-0">
                    [[chosenVariant.price ? `{{ cart.currency.symbol -}}
                    ${chosenVariant.price?.toFixed(2)}` :
                    {%- if product.price_max != product.price_min -%}
                      '{{ cart.currency.symbol -}}
                      {{- product.price_min | divided_by: 100.00 }} - {{ cart.currency.symbol -}}
                      {{- product.price_max | divided_by: 100.00 -}}
                      '
                    {% else %}
                      '{{ cart.currency.symbol -}}
                      {{- product.price_min | divided_by: 100.00 }}'
                    {%- endif -%}
                    ]]
                  </h5>
                  {% comment %}
                    <div class="product-detail--display align-items-center column-gap-2">
                      <div class="d-flex column-gap-1 align-items-lg-center">
                        <i class="bi bi-star-fill text-warning"></i>
                        <p class="mb-0">4.9</p>
                      </div>
                      <p class="mb-0">(45 reviews)</p>
                    </div>
                  {% endcomment %}
                </div>
              </div>
              <hr class="border border-dark-subtle border-1 opacity-75 w-100 m-0">
              <div class="mb-2 d-flex flex-column w-100">
                <input name="id" hidden v-model="chosenVariant.id">
                <label for="product-variants" class="form-label">Variants:</label>
                <div class="dropdown w-100">
                  <button
                    id="product-variants"
                    class="btn btn-outline-secondary d-flex justify-content-between align-items-center dropdown-toggle w-100"
                    type="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    [[chosenVariant.title ?? 'Select a variant']]
                  </button>

                  <ul class="dropdown-menu w-100">
                    {% for variant in product.variants %}
                      <li role="button">
                        <a
                          class="dropdown-item d-flex align-items-center column-gap-2 "
                          :class="
                            {
                              'active': chosenVariant.id == '{{ variant.id }}'
                            }
                          "
                          @click="selectVariant({{ variant.id }}, '{{ variant.title }}', {{ variant.price | divided_by: 100.00 }}, {{ variant.inventory_quantity }})"
                        >
                          {{ variant.image | image_url: width: 100 | image_tag: classes: 'd-block rounded' }}
                          <div class="d-flex flex-column row-gap-1 user-select-none">
                            <p class="m-0">
                              {{ variant.title }}
                              {% unless variant.available == true %}
                                - sold out
                              {% else %}
                                for {{ cart.currency.symbol -}}
                                {{- variant.price | divided_by: 100.00 }}
                              {% endunless %}
                            </p>
                            <p class="opacity-50 m-0">SKU: {{ variant.sku }}</p>
                          </div>
                        </a>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
              <div class="mb-2 d-flex flex-column" v-if="chosenVariant.max">
                <label for="product-qty" class="form-label">Qty:</label>
                <div class="input-group product-detail--width">
                  <button class="btn btn-outline-secondary w-25" type="button">-</button>
                  <input
                    id="product-qty"
                    type="number"
                    min="1"
                    :max="chosenVariant.max ?? 1"
                    value="1"
                    class="form-control text-center w-50"
                    placeholder=""
                    aria-label="Cart item quantity"
                  >
                  <button class="btn btn-outline-secondary w-25" type="button">+</button>
                </div>
              </div>
              <button
                :disabled="chosenVariant.id == null"
                type="submit"
                name="add"
                id="add"
                value="Add to Cart"
                class="btn btn-primary btn-lg w-100"
              >
                Add to Cart
              </button>
            </div>
          </div>
        </teleport>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Product Detail"
}
{% endschema %}
