{% assign is_action_sticky = section.settings.is_action_sticky %}
{% assign full_size_accordion = section.settings.full_size_accordion %}

{% style %}
  .product-detail--sticky-position {
    top: 72px;
  }

  .product-detail__container--max-width {
    max-width: 350px;
  }

  .product-detail--width {
    width: 100%;
  }

  .product-detail--display {
    display: flex;
  }

  @media only screen and (min-width: 992px) {
    .product-detail--width {
      width: 50%;
    }
  }

  @media only screen and (min-width: 1200px) {
    .product--detail--display {
      display: block;
    }
  }
{% endstyle %}

<section class="container-md mt-4">
  <div class="row mb-3 m-0">
    <div class="col col-lg-8 ps-0 d-flex flex-column row-gap-3">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-0">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{ product.title }}</li>
        </ol>
      </nav>
      <div id="product-detail-images-carousel" class="carousel slide shadow rounded">
        <div class="carousel-indicators rounded-bottom mb-5">
          {% for image in product.images %}
            <button
              type="button"
              data-bs-target="#product-detail-images-carousel"
              data-bs-slide-to="{{ forloop.index | minus: 1 }}"
              aria-label="Slide {{ forloop.index | minus: 1 }}"
              {% if forloop.index == 1 %}
                class="active"
              {% endif %}
              {% if forloop.index == 1 %}
                aria-current="true"
              {% endif %}
            >
              {{ image | image_url: width: 80, height: 50 | image_tag: class: 'd-block w-100' }}
            </button>
          {% endfor %}
        </div>
        <div class="carousel-inner rounded">
          {% for image in product.images %}
            <div class="carousel-item {% if forloop.index == 1  %}active{% endif %}">
              {{ image | image_url: width: 800 | image_tag: class: 'd-block w-100' }}
            </div>
          {% endfor %}
        </div>
        <button
          class="carousel-control-prev rounded-start"
          type="button"
          data-bs-target="#product-detail-images-carousel"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon rounded-start" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next rounded-end"
          type="button"
          data-bs-target="#product-detail-images-carousel"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon rounded-end" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <div
        class="d-flex d-lg-none justify-content-between align-items-center "
        id="product-detail-sidebar"
      >
        {{ full_size_accordion }}
        {% unless full_size_accordion %}
          <div class="accordion" id="product-accordion">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button
                  class="accordion-button"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#product-description-content"
                  aria-expanded="true"
                  aria-controls="product-description-content"
                >
                  <h4>Description</h4>
                </button>
              </h2>
              <div
                id="product-description-content"
                class="accordion-collapse collapse show"
                data-bs-parent="#product-accordion"
              >
                <div class="accordion-body">
                  {{ product.description }}
                </div>
              </div>
            </div>

            {% for block in section.blocks %}
              {% case block.type %}
                {% when '@app' %}
                  {% render block %}
              {% endcase %}
            {% endfor %}
          </div>
        {% endunless %}
      </div>
    </div>
    <div class="d-none d-lg-block col col-md-4 pe-0" id="product-detail">
      <div class="{% if is_action_sticky %}product-detail--sticky-position sticky-top{% endif %}">
        <teleport :disabled="isDesktop" to="#product-detail-sidebar">
          <form @submit.prevent="addCartItem(chosenVariant.id, qty)">
            <div class="p-3 w-100  bg-body-tertiary rounded shadow ">
              <div class="d-flex flex-column row-gap-3 justify-content-center p-3 w-100 ">
                <div class="d-flex flex-column row-gap-2">
                  <div class="d-flex flex-column row-gap-2">
                    <h1 class="fs-3 mb-0 fw-light">{{ product.title }}</h1>
                  </div>
                  <div class="d-flex flex-column justify-content-center row-gap-2 mt-1 ">
                    <h5 class="fs-4 mb-0 fw-bold pe-2 pb-lg-1 pb-xl-0 d-flex column-gap-2">
                      <span
                        class="ml-2 "
                        :class="{'text-decoration-line-through fs-5': chosenVariant.compare_at_price}"
                        v-if="chosenVariant.compare_at_price"
                        >[[`{{ cart.currency.symbol -}}
                        ${chosenVariant.compare_at_price?.toFixed(2)}`]]</span
                      >
                      <span
                        v-if="chosenVariant.price"
                        class="fs-3"
                        >[[ `{{ cart.currency.symbol -}}
                        ${chosenVariant.price?.toFixed(2)}` ]]</span
                      >
                      <span v-else
                        >[[
                        {%- if product.price_max != product.price_min -%}
                          '{{ cart.currency.symbol -}}
                          {{- product.price_min | divided_by: 100.00 }} - {{ cart.currency.symbol -}}
                          {{- product.price_max | divided_by: 100.00 -}}
                          '
                        {% else %}
                          '{{ cart.currency.symbol -}}
                          {{- product.price_min | divided_by: 100.00 }}'
                        {%- endif -%}
                        ]]</span
                      >
                    </h5>
                    <div id="product-rating"></div>
                  </div>
                </div>
                <hr class="border border-dark-subtle border-1 opacity-75 w-100 m-0">
                <div class="mb-2 d-flex flex-column w-100">
                  <input name="id" hidden v-model="chosenVariant.id">
                  <label for="product-variants" class="form-label">Variants:</label>
                  <div class="dropdown w-100">
                    <button
                      id="product-variants"
                      class="btn btn-outline-secondary d-flex justify-content-between align-items-center dropdown-toggle w-100"
                      type="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      [[chosenVariant.title ?? 'Select a variant']]
                    </button>

                    <ul class="dropdown-menu w-100">
                      {% for variant in product.variants %}
                        <li role="button">
                          <a
                            class="dropdown-item d-flex align-items-center column-gap-2 "
                            :class="
                              {
                                'active': chosenVariant.id == {{ variant.id }}
                              }
                            "
                            {% if variant.available == true %}
                              @click="selectVariant({{ variant.id }}, '{{ variant.title }}', {{ variant.price | divided_by: 100.00 }}, {{ variant.compare_at_price | divided_by: 100.00 }}, {{ variant.inventory_quantity }})"
                            {% endif %}
                          >
                            {{ variant.image | image_url: width: 100 | image_tag: classes: 'd-block rounded' }}
                            <div class="d-flex flex-column row-gap-1 user-select-none">
                              <p class="m-0">
                                {{ variant.title }}
                                {% unless variant.available == true %}
                                  - sold out
                                {% endunless %}
                              </p>
                              <p class="opacity-50 m-0">SKU: {{ variant.sku }}</p>
                            </div>
                          </a>
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
                <div class="mb-2 d-flex flex-column" v-if="chosenVariant.max">
                  <label for="product-qty" class="form-label">Qty:</label>
                  <div class="input-group product-detail--width">
                    <button
                      :disabled="qty <= 1"
                      class="btn btn-outline-secondary w-25"
                      type="button"
                      @click.native="decrementQty"
                    >
                      -
                    </button>
                    <input
                      id="product-qty"
                      type="number"
                      min="1"
                      :max="chosenVariant.max ?? 1"
                      v-model="qty"
                      class="form-control text-center w-50"
                      aria-label="Cart item quantity"
                      name="quantity"
                    >
                    <button
                      :disabled="chosenVariant.max != null && qty >= chosenVariant.max "
                      class="btn btn-outline-secondary w-25"
                      type="button"
                      @click.native="incrementQty"
                    >
                      +
                    </button>
                  </div>
                </div>
                <input hidden name="id" :value="chosenVariant.id">
                <button
                  :disabled="chosenVariant.id == null"
                  type="submit"
                  name="add"
                  id="add"
                  value="Add to Cart"
                  class="btn btn-primary btn-lg w-100"
                >
                  Add to Cart
                </button>
              </div>
            </div>
          </form>
        </teleport>
      </div>
    </div>
  </div>
  {% if full_size_accordion %}
    <div class="accordion" id="product-accordion">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#product-description-content"
            aria-expanded="true"
            aria-controls="product-description-content"
          >
            <h4>Description</h4>
          </button>
        </h2>
        <div
          id="product-description-content"
          class="accordion-collapse collapse show"
          data-bs-parent="#product-accordion"
        >
          <div class="accordion-body">
            {{ product.description }}
          </div>
        </div>
      </div>

      {% for block in section.blocks %}
        {% case block.type %}
          {% when '@app' %}
            {% render block %}
        {% endcase %}
      {% endfor %}
    </div>
  {% endif %}
</section>

{% schema %}
{
  "name": "Product Detail",
  "blocks": [
    {
      "type": "@app"
    }
  ],
  "settings": [
    {
      "type": "checkbox",
      "label": "Is action sticky?",
      "id": "is_action_sticky",
      "default": true
    },
    {
      "type": "checkbox",
      "label": "Full size accordion?",
      "id": "full_size_accordion",
      "default": true
    }
  ]
}
{% endschema %}
